
body {
    background-image: url(../img/Menu_Back.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;



    overflow:hidden;





}


#logo{
    width:70%;

}


.button{
    width:80%;





}



#first{
    margin-top:10vh;


}

#second{
    margin-top:10vh;
}
