
body {
    background-image: url(../img/Menu_Back.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 



    overflow:hidden;





}


#logo{
    width:70%;    

}


.button{
    width:40vh;
    height:10vh;





}



#first{
    margin-top:10vh;


}

#second{
    margin-top:10vh;
}
